* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Exo', sans-serif;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;

}

.image {
    height: 70px;
    width: 70px;
    display: flex;
    padding-left: 50px;
    padding-top: 10px;
}

.text {
    color: black;
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
    padding-left: 5px;
    line-height: 18px;
}

span {
    color: rgb(90, 195, 90);
    font-size: 12px;
    font-weight: 200;

}

.dropbtn {
    background-color: white;
    color: black;
    margin-left: 700px;
    margin-top: 10px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 700px;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 18px;

}


.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content a {
    color: black;
    margin-left: 0px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: rgb(120, 200, 100);
    border-radius: 18px;
    color: #f9f9f9;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: rgb(120, 200, 100);
    border-radius: 15px;
    text-decoration: underline;
    font-weight: bolder;

}

.dropbtn2 {
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 18px;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content2 a {
    color: black;
    margin-left: 0px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content2 a:hover {
    background-color: rgb(120, 200, 100);
    border-radius: 18px;
    color: #f9f9f9;
    text-decoration: none;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.dropdown2:hover .dropbtn2 {
    color: rgb(120, 200, 100);
    border-radius: 15px;
    text-decoration: underline;
    font-weight: bolder;
}

.dropbtn3 {
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 18px;
}

.dropdown3 {
    position: relative;
    display: inline-block;
}

.dropdown-content3 a {
    color: black;
    margin-left: 0px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.dropdown-content3 a:hover {
    background-color: rgb(120, 200, 100);
    border-radius: 18px;
    color: #f9f9f9;
    text-decoration: none;
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown3:hover .dropbtn3 {
    color: rgb(120, 200, 100);
    border-radius: 15px;
    text-decoration: underline;
    font-weight: bolder;
}

.dropbtn4 {
    background-color: white;
    color: black;
    margin-top: 10px;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.dropbtn4:hover {
    color: rgb(120, 200, 100);
    border-radius: 15px;
    text-decoration: underline;
    font-weight: bolder;
}


/* #text_product {
    text-align: center;
    padding-top: 250px;
    color: white;
    font-size: 45px;

} */

/* #para {
    text-align: center;
    line-height: 3;
    color: white;
    font-size: 16px;
    font-weight: 600;
} */


#para a {
    color: rgb(53, 200, 53);
    text-decoration: none;
    font-size: 18px;

}


#chicken_text {
    margin-top: 40px;
    text-align: center;

}

#span_dishes {
    color: green;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 3px;
}

#trending {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.701);

}


#trending :hover {
    color: orange;

}

/* menu */

.chicken {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.chicken div img {
    height: 180px;
    width: 290px;
    border-radius: 30px;

}

.border {
    height: 365px;
    width: 290px;
    background-color: #fff;
    margin: 25px;
    box-shadow: 2px 2px 3px 3px rgba(68, 67, 67, 0.201);
    border-radius: 30px;
    transition: .3s ease;

}

.border:hover {
    transform: scale(1.1);
}

.border h2 {
    padding-top: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.762);
    font-size: 25px;
    font-weight: 800;

}

.border p {
    text-align: center;
    color: rgba(0, 0, 0, 0.847);
    font-size: 14px;
}



#price {
    font-size: 25px;
    color: rgba(255, 0, 0, 0.881);
    padding-left: 110px;
    font-weight: 900;
}

#Cart {
    margin-left: 85px;
    background-color: green;
    border: none;
    width: 120px;
    height: 35px;
    border-radius: 35px;
    transition: .3 ease-out;

}

#Cart a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 600;
}

#Cart:hover {
    background-color: red;
    transform: scale(1.1);


}

/* chicken files */


.main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/chicken\ dish.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#text_product {
    text-align: center;
    padding-top: 250px;
    color: white;
    font-size: 45px;

}

#para {
    text-align: center;
    line-height: 3;
    color: white;
    font-size: 17px;
    font-weight: 600;
}

.chicken_tikka {
    display: flex;

}

#tikka_img {
    height: 350px;
    width: 350px;
    background-image: url(./assests/chicken\ dish.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}


#tikka_img:hover {
    transform: scale(1.1);
}


#tikka_price {
    margin-left: 85px;
    margin-top: 70px;

}

#tikka_price span {
    font-size: 26px;
    font-weight: 900;
    color: red;
}

#tikka_para {
    color: black;
    margin-top: 30px;
    font-size: 18px;
    margin-left: 85px;
}

#cart_button {
    margin-top: 30px;
}



/* .carousel-caption a {
    color: rgb(74, 225, 74);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
} */


/* chicken malai  */

.chicken_malai_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/chicken\ dish2.jpg);
    height: 400px;
    background-size: cover;
    background-position: top;

}

/* .chicken_malai_main_image a {
    color: rgb(24, 206, 24);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
} */

#malai_img {
    height: 350px;
    width: 350px;
    background-image: url(./assests/chicken\ dish2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#malai_img:hover {
    transform: scale(1.1);
}



/* bihari boti */

.Bihari_Boti_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/chicken\ dish3.jpg);
    height: 400px;
    background-size: cover;
    background-position: bottom;

}

#Bihari_img {
    height: 350px;
    width: 350px;
    background-image: url(./assests/chicken\ dish3.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#Bihari_img:hover {
    transform: scale(1.1);
}




/* .Bihari_Boti_main_image a {
    color: rgb(24, 206, 24);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
} */

/* Chicken_Karahi */

.Chicken_Karahi_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/chicken\ dish4.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#karahi_img {
    height: 350px;
    width: 350px;
    background-image: url(./assests/chicken\ dish4.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#karahi_img:hover {
    transform: scale(1.1);
}



/* .Chicken_Karahi_main_image a {
    color: rgb(24, 206, 24);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
} */


/* Chicken_Biryani */

.Chicken_Biryani_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/chicken\ dish5.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#biryani_img {
    height: 350px;
    width: 350px;
    background-image: url(./assests/chicken\ dish5.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#biryani_img:hover {
    transform: scale(1.1);
}


/* .Chicken_Biryani_main_image a {
    color: rgb(24, 206, 24);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
} */


/* nuggets  */

.Chicken_Nuggets_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/chicken\ dish6.jpg);
    height: 400px;
    background-size: cover;
    background-position: top;

}

#nuggets_img {
    height: 350px;
    width: 350px;
    background-image: url(./assests/chicken\ dish6.jpg);
    background-position: top;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#nuggets_img:hover {
    transform: scale(1.1);
}
/* .Chicken_Nuggets_main_image a {
    color: rgb(24, 206, 24);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
} */

/* healthy files */

/* keto diet */

.Keto_Diet_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/anh-nguyen-kcA-c3f_3FE-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#Keto_Diet_image {
    height: 350px;
    width: 350px;
    background-image: url(./assests/anh-nguyen-kcA-c3f_3FE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#Keto_Diet_image:hover {
    transform: scale(1.1);
}

/* healthy meal */

.Healthy_Meal_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/plate-with-keto-diet-food-cherry-tomatoes-chicken-breast-eggs-carrot-salad-with-arugula-spinach-keto-lunch-top-view.jpg);
    height: 400px;
    background-size: cover;
    background-position: bottom;

}

#Healthy_Meal_image {
    height: 350px;
    width: 350px;
    background-image: url(./assests/plate-with-keto-diet-food-cherry-tomatoes-chicken-breast-eggs-carrot-salad-with-arugula-spinach-keto-lunch-top-view.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#Healthy_Meal_image:hover {
    transform: scale(1.1);
}

/* avacado */

.Avacado_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/wesual-click-HK4n3W95F2c-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#Avacado_image {
    height: 350px;
    width: 350px;
    background-image: url(./assests/wesual-click-HK4n3W95F2c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#Avacado_image:hover {
    transform: scale(1.1);
}

/* healthy tacos */

.Healthy_Tacos_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/daniel-arriola-v-UlAEJTSVw-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#Healthy_Tacos_image {
    height: 350px;
    width: 350px;
    background-image: url(./assests/daniel-arriola-v-UlAEJTSVw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#Healthy_Tacos_image:hover {
    transform: scale(1.1);
}

/* iridinos */

.Iridinos_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/michael-dagonakis-thR9H6aDmN8-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#Iridinos_image {
    height: 350px;
    width: 350px;
    background-image: url(./assests/michael-dagonakis-thR9H6aDmN8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#Iridinos_image:hover {
    transform: scale(1.1);
}


/* sandwich */

.Sandwich_main_image {
    background-image: linear-gradient(rgba(192, 183, 183, 0.297), rgba(192, 183, 183, 0.352), rgba(192, 183, 183, 0.352)), url(./assests/seriously-low-carb-FZ4y_IDUJ6w-unsplash.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

#Sandwich_image {
    height: 350px;
    width: 350px;
    background-image: url(./assests/seriously-low-carb-FZ4y_IDUJ6w-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 90px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(1, 1, 1, 0.692);
    transition: .3s ease;

}

#Sandwich_image:hover {
    transform: scale(1.1);
}


/* smoothies */

.smoothies{
    height: 600px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
 
}

#green_fall{
    height: 520px;
    width: 300px;
    background-image: url(./assests/reza-jahangir-DXWefT8o3dM-unsplash.jpg);
  background-size: cover;
  border-radius: 20px;
  transition: .3s ease;
  
}

#green_fall:hover{
    transform: scale(1.1);
}

#green_fall h2{
text-align: center;
color: #fff;
margin-top: 380px;
font-weight: 900;
}

#sehgai{
    height: 520px;
    width: 300px;
    background-image: url(./assests/pori-he-_xeoL8CqRvE-unsplash.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: .3s ease;
 
}

#sehgai:hover{
    transform: scale(1.1);
}

#sehgai h2{
    text-align: center;
    color: #fff;
    margin-top: 380px;
    font-weight: 900;
    }
    

#sam{
    height: 520px;
    width: 300px;
    background-image: url(./assests/sam-hojati-lw8GflbJwLc-unsplash.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: .3s ease;
 
}

#sam:hover{
    transform: scale(1.1);
}

#sam h2{
    text-align: center;
    color: #fff;
    margin-top: 380px;
    font-weight: 900;
    }
    

/* smooothie cart cart */

#Cart_smoothie{
margin-left:80px;
margin-top: 15px;
background-color: green;
border: none;
width: 140px;
height: 40px;
border-radius: 35px;
transition: .3 ease-out;

}


#Cart_smoothie a {
text-decoration: none;
color: #f9f9f9;
font-size: 16px;
font-weight: 600;
}

#Cart_smoothie:hover {
background-color: red;
transform: scale(1.1);


}

/* footer_start */

.container{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.pp{
    margin-left: 44px;
    color:white;
    font-size: small;
    

}
#ico{ 
    margin-left:37px ;
    color: rgba(109, 147, 26, 0.928);
    font-size: larger;
}
#q{
    color: rgba(109, 147, 26, 0.928);
    margin-left: 60px;
}
ul li a{
    color: white;
    margin-left: 20px;
}
ul li a:hover{
    color: rgba(109, 147, 26, 0.928);
}
#u{
    color: rgba(109, 147, 26, 0.928);
    margin-left: 60px;
}
#g{
    color: rgba(109, 147, 26, 0.928);
    font-size: 37px;
}
#yy{
    color: rgba(109, 147, 26, 0.928);
}
#ii{
    color: rgba(109, 147, 26, 0.928);
    font-size: 15px;
    display: flex;
    display: inline;
    margin-left: 10px;
}
#ww{
    color: white;
    margin-left:18px ;
    margin-top: 10px;
    font-size:small;
}
#ww:hover{
    color: rgba(109, 147, 26, 0.928);
}
#hh{
    color: white;
    margin-left: 18px;
    font-size: small;
}
#hh:hover{
    color: rgba(109, 147, 26, 0.928);
}
#y{
    color: rgba(109, 147, 26, 0.928);
}
#i{
    color: rgba(109, 147, 26, 0.928);
    font-size: 15px;
    display: flex;
    display: inline;
    margin-left: 10px;
}
#w{ 
    margin-left:18px ;
    margin-top: 10px;
    color: white;
    font-size: small;
}
#w:hover{
    color: rgba(109, 147, 26, 0.928);
}
#h{
    margin-left:18px ;
    color: white;
    font-size: small;
}
#h:hover{
    color: rgba(109, 147, 26, 0.928);
}
#r{
    color: rgba(109, 147, 26, 0.928);
    font-size: 33px;
}
#t{
 color: white;
}
.image1{
    height: 50px;
    width: 50px;
    display: flex;
    padding-left: 30px;
    
}

.text1{
    color:white;
    font-size: 30px;
    font-weight: 900;
    padding-left: 5px;
    line-height: 18px;
   padding-top: 15px;
}

.span1{
    color: rgb(90, 195, 90);
    font-size: 12px;
    font-weight: 200;

}